


   #l1
{
     height: 50px;
    background-color: rgb(252, 143, 0);
    border-width: 10px;
    border-color: rgb(255, 191, 112);
    
   
}
.l2
{ text-align: center;
    display: inline;
    margin-left: 200px;
}